body{
    background-color: #0F1624;
    color: #fff;
}
.presentation{
    margin-top: 15vw;
    text-align: left;
    padding: 0vw 18vw 0vw 1vw;
}
.presentation h1{
    color: #fff;
    font-size: 3vw;
}
.presentation p{
    font-size: 1.3vw;
}
button{
    background-image: linear-gradient(#13ADC7, #6978D1, #945DD6);
    padding: 1vw 3vw;
    border: none;
    border-radius: 2vw;
    font-size: 1.1vw;
    color: #fff;
}
button:hover{
    transform: translateY(-7px);
    transition-duration: 0.5s;
    cursor: pointer;
}